<h1>Sobre HeroWorld</h1>
<hr>

<p>
    HeroWorld es una fansite sin ánimo de lucro. El uso de imágenes, personajes, logotiposotextos de otras
    propiedades tiene como único objetivo el divulgativo y el entretenimiento de nuestros usuarios.
</p>

<div class="header">
    <!-- Photo Grid -->
    <div class="row">
        <div class="column v1">
            <img src="assets/imagenes/comic.jpg" style="width:100%">
            <img src="assets/imagenes/c1.jpg" style="width:100%">
        </div>
        <div class="column v2">
            <img src="assets/imagenes/c2.jpg" style="width:100%">
            <img src="assets/imagenes/c3.jpg" style="width:100%; height: 50%;">
        </div>
        <div class="column v3">
            <img class="m1" src="assets/imagenes/c4.jpg" style="width:100%">
            <img src="assets/imagenes/c5.jpg" style="width:100%">
        </div>
    </div>
    <br>

    <h2 style="text-align: left;">Equipo 7: </h2>
    <p>Ernesto Sahid Castañeda Gonzalez</p>
    <p>Jesus Maximiliano Gonzalez Frias</p>
    <p>Carlos Luevano Santillan </p>
    <p>Luis Angel Ramirez Cedillo</p>
