<div class="bg-home"style="width: 100%; height: 100%; left:0% ;position: absolute; text-align: center;">
  <h1>Hero World</h1>
  <br>
  <p style="width: 100%;">Este es un sitio web en donde amantes de los comics o los superheroes pueden venir a descubirir
    o
    redescubrir comics, asi como enterarse de las ultimas noticias de sus superheroes favoritos.</p>
  <p id="p1">Si quieres ser parte de esta aventura, puedes registrarte y comenzar a discubrir el mundo de los
    superheroes.</p>

    <br>
    <a id="b1" class="btn btn-success btn-lg" routerLink="/reg" routerLinkActive="active">Registrar</a>

    <br><br><br><br>
    <img id="v1" src="assets/imagenes/v1.gif">
    
</div>